body {
  background-color: #eee;
}

.fullScreenFrame > div {
  display: flex;
  justify-content: center;
}

[data-testid="stToolbar"] {visibility: hidden !important;}
footer {visibility: hidden !important;}